apiVersion: apps/v1
kind: Deployment
metadata:
 name: nginx-dep
spec:
 replicas: {{ .Values.deployment.replicas }}
 selector:
  matchLabels:
   app: web
 template:
  metadata:
   labels: 
    app: web
  spec:
   containers:
   - name: nginx
     image: nginx:{{ .Values.deployment.imageversion }}
